[Unit]
Description=Mused server

[Service]
User=system
Group=system
Type=oneshot
ExecStart=/usr/bin/mused-server
MemoryLimit=10M

[Install]
WantedBy=multi-user.target
