[Unit]
Description=Mused server

[Service]
User=system
Group=system
Type=forking
ExecStart=/usr/bin/mused-server
MemoryLimit=100M

[Install]
WantedBy=multi-user.target
