[Unit]
Description=Mused server

[Service]
Type=forking
ExecStart=/usr/bin/mused-server
MemoryLimit=100M
EnvironmentFile=/run/tizen-system-env

[Install]
WantedBy=multi-user.target
