[Unit]
Description=muse server
After=display-manager.service

[Service]
Type=forking
User=multimedia_fw
Group=multimedia_fw
ExecStart=/usr/bin/muse-server
Restart=always
MemoryLimit=300M
EnvironmentFile=/run/tizen-system-env
EnvironmentFile=/run/xdg-root-env

[Install]
WantedBy=multi-user.target
